@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color: antiquewhite; */
  color: #bdad93;
  margin: 0;
  padding: 0;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overscroll-behavior: none;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  /*this adds 100px padding top and bottom and 20% view port width to the left and right*/
  padding: 100px, 20vw;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.primary-background-color {
  background: #1e293b;
}

.secondary-background-color {
  background-color: #4d535b;
}

.primary-text-color {
  color: #bdad93;
}

.secondary-text-color {
  color: #b09c7d;
}

.accent-background-color {
  background-color: #697891;
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(../public/images/stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(../public/images/twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-image: url("../public/images/wave-top.png");
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 5s;
}
.waveMiddle {
  background-image: url("../public/images/wave-mid.png");
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 15s linear infinite;
}
.waveBottom {
  background-image: url("../public/images/wave-bot.png");
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 20s linear infinite;
}
